# Updated by trungquandev.com's author on August 17 2023
# YouTube: https://youtube.com/@trungquandev
# "A bit of fragrance clings to the hand that gives flowers!"
# mục đích của file này là nhớ các biến cần thiết để setup 
MONGODB_URI=''
DATABASE_NAME=''
APP_HOST=''
APP_PORT=
